/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.mobile-navigation{ display:none; }


.topbar {
  background: #fff;
  height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  color: #252B33;
  padding: 0;
}

.topbar .contact-info i { padding-right:3px; color:#0fa3c8; }
.topbar .contact-info a { color: #252B33; }

.inforight { margin-right:15px; }

.drop-down-arrows { display:none; }

@media (max-width: 575px) {

  .topbar .contact-info i a,
  .topbar .contact-info i span {
    font-size: 13px;
  }
}

.topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
}

.topbar .contact-info i a:hover {
  color: #fff;
  text-decoration: underline;
}

.topbar .social-links a {
  color: #252B33;
  line-height: 0;
  transition: 0.3s;
  margin-left: 20px;
  font-size: 16px;
}
.topbar .social-links a.whatsapp{margin-left:0px;}

.topbar .social-links a:hover {
  color: #0fa3c8;
}

.header {
  transition: all 0.5s;
  z-index: 997;
  height: 75px;
  background-color: #fff;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);

}

.header.sticked {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height:60px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}

.header .logo img {
 margin-right: 6px;
}

.header .logo h1 {
  font-size: 30px;
  margin: 0;
  letter-spacing: 0.8px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.sticked-header-offset {
  margin-top: 70px;
}

section {
  scroll-margin-top: 70px;
}

/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/
@media (min-width:992px) {
  .navbar {
    padding: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 10px;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 3px;
   font-family: 'Poppins', sans-serif;
    font-size:14px;
    font-weight:400;
    color:#4d545d;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: var(--color-secondary);
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }

  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    width: 100%;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #0fa3c8;
  }

  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 18px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }

  .navbar .dropdown ul li {
    min-width: 200px;
  }

  .navbar .dropdown ul a {
    padding: 3px 15px;
    font-size: 14px;
    text-transform: none;
    font-weight:500;
    color: #4d545d;
  }

  .navbar .dropdown ul a i {
    font-size: 12px;
  }

  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: #0fa3c8;
  }

  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }

.navbar a.content-btns{ border-radius: 100px;
  font-size: 16px;
  background: #0da4ca;
  color: #fff;
  padding: 5px 15px;
  display: inline-block; }

.navbar a.content-btns:hover, .navbar a.content-btns:focus{ background:#077d9b; color: #fff; }


}

@media (min-width:1200px) { 

.navbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 15px;
  }

  .navbar a, .navbar a:focus {
  font-size: 16px;    
  }

  }

@media (min-width: 1280px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

@media (min-width:992px) {

  .mobile-nav-show,
  .mobile-nav-hide {
    display: none;
  }
}

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (max-width: 991px) {
  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 100%;
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;
  }

  .navbar ul {
    position: absolute;
    inset: 0;
    padding: 50px 0 10px 0;
    margin: 0;
    background: #0c424f;
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2px 15px;
    font-size:14px;
    font-weight:400;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #fff;
  }

  .navbar .getstarted,
  .navbar .getstarted:focus {
    background:red;
    padding: 8px 20px;
    border-radius: 4px;
    margin: 15px;
    color: #fff;
  }

  .navbar .getstarted:hover,
  .navbar .getstarted:focus:hover {
    color: #fff;
    background: rgba(0, 131, 116, 0.8);
  }

  .navbar .dropdown ul,
  .navbar .dropdown .dropdown ul {
    position: static;
    display: none;
    padding: 6px 0;
    margin: 10px 20px;
    transition: all 0.5s ease-in-out;
    background-color: #0b3c48;
    border: 1px solid #094f60;
  }

  .navbar .dropdown>.dropdown-active,
  .navbar .dropdown .dropdown>.dropdown-active {
    display: block;
  }

  .mobile-nav-show {
    color: #252B33;
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    z-index: 999;
    margin-right: 10px;
  }

  .mobile-nav-hide {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .navbar {
    right: 0;
  }

  .mobile-nav-active .navbar:before {
    content: "";
    position: fixed;
    inset: 0;
    background: #0c424f;
    z-index: 9996;
  }

.drop-down-arrows { display:block; }
}

@media (max-width: 575.98px) { 

.header .logo img {
 max-height: 40px;
}
.topbar { font-size: 11.5px; }
.topbar .contact-info i { padding-right:2px; }
.inforight { margin-right:10px; }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
.topbar .social-links a {
  color: #252B33;
  line-height: 0;
  transition: 0.3s;
  margin-left: 15px;
  font-size: 16px;
}

}



/*--------------------------------------------------------------
# Header only mobile
--------------------------------------------------------------*/
.overlay-mobile {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay-mobile a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.overlay-mobile .closebtn {
  position: absolute;
  top:10px;
  right:10px;
  font-size:30px;
  z-index:2;
  padding: 5px;
  line-height: 20px;
  color: #fff;
}
.overlay-mobile a.closebtn:hover{ color:#0da4ca; }
.menu-icons-open a{ color: #252B33; font-size: 26px; }
.menu-icons-open a:hover{ color:#0da4ca;   }

ul.mobile-navs-main { padding:15px; }
ul.mobile-navs-main li { position: relative;} 
ul.mobile-navs-main li a{ font-size:16px; padding:4px 0px; font-weight:500; display: inline-block;
    color: #fff; white-space: nowrap; transition: 0.3s; position:relative; }

ul.mobile-navs-main li a span { position:relative; transition: 0.5s; position:relative; }
ul.mobile-navs-main li a span:before {
    content: "";
    position: absolute;
    height:1px;
    bottom: -2px;
    left: 0;
    background-color: #0fa3c8;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
     }


  ul.mobile-navs-main li a span:hover,
  ul.mobile-navs-main li a span:focus,
  ul.mobile-navs-main li a span:hover:before,
  ul.mobile-navs-main li a span:focus:before,
  ul.mobile-navs-main .active:before {
    visibility: visible;
    width: 100%;
    color: #0fa3c8;

  }     

ul.mobile-submenus { padding:0px; margin-left:5px }
ul.mobile-submenus li a{ font-size:14px; padding: 2px 0px 2px 0px; font-weight:400; }
ul.mobile-submenus li:last-child { margin-bottom:10px; }



.menu-icons-open{ font-size:30px; cursor:pointer; }


ul.mobile-navs-main ul.mobile-submenus li a:after{ display:none; }

ul.mobile-navs-main li.rightside-plus a:after {
content: '-';
font-size: 22px;
position: absolute;
right: -25px;
top:3px;
bottom: 0;
display: flex;
align-items: center ;
color: #fff;
font-weight: 400;
}
ul.mobile-navs-main li.rightside-plus a.collapsed:after {
content: '+' 
}

@media screen and (max-height: 450px) {
  .overlay-mobile a {font-size: 20px}
  .overlay-mobile .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

@media (max-width: 991.98px) { 
.desktop-menu{ display:none; }
.mobile-navigation{ display:block; }

}

















